* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0d6efd;
  color: #ffffff;
  padding: 20px;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding-right: 10px;
  border-right: 2px solid #f0f0f0;
}

a:hover {
  color: #f0f0f0;
}

img {
  height: 100px;
  width: auto;
}

.frase {
  text-align: center;
  padding: 10px;
  background-color: #1e58ad;
  color: white;
  font-size: 20px;
  border: solid white;
}

.Parlantes {
  height: 200px;
  width: 200px;
}

.divparlante {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.tamañodiv {
  width: 260px;
  height: 905x;
  padding: 10px;
  border: solid #1e58ad;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
}

button:hover {
  background-color: #1e58ad;
}
p {
  padding: 15px;
}

.footer {
  background-color: #0d6efd;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left,
.footer-contact,
.footer-subscription {
  flex: 1;
  min-width: 200px;
}

.footer-left h3 {
  margin-bottom: 10px;
}

.footer-contact p,
.footer-subscription form {
  font-size: 16px;
}

.footer-contact p strong {
  font-weight: bold;
}

.footer-subscription input[type="email"] {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
}

.footer-subscription button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.footer-subscription button:hover {
  background-color: #0d6efd;
  color: white;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}

h2{
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
}